@import "tailwindcss";

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("/fonts/Epilogue-Regular.ttf") format("truetype");
}

@theme {
  --font-script: Epilogue;
}

svg {
  display: flex;
  align-items: center;
}
